# Package Management
elpa/
el-get/

saves/
url/
eshell/
auto-save-list/
tutorial/

bookmarks
tramp
ac-comphist.dat
request/curl-cookie-jar
.yas-compiled-snippets.el

# Projectile
projectile-bookmarks.eld
.projectile*
projectile.cache