# -*- mode: snippet -*-
# name: header
# key: header
# --
# -*- coding: utf-8 -*-

"""
$4
"""

__author__ = u"${1:Thomas Moulia <jtmoulia@pocketknife.io>}"
__copyright__ = u"Copyright © ${2:`(format-time-string "%Y")`}, ${3:Thomas Moulia} All rights reserved."

